@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif
    ;
}

h1{
    color: rgb(240, 187, 73);
}
h1#principal{
    text-align: center;
    color: black;
    background-color: blueviolet;
}
.basico{
    color: rgb(233, 27, 130);
}
h2{
    color: blueviolet;
}


